body.login {
  background: var(--orange-500);
}

.login h1 a {
  background-image: url(../assets/logo.svg);
  background-size: contain;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.login form {
  background: var(--white);
  padding: 26px;
  border-radius: 4px;
}
